.App {
  text-align: center;
}

h1 {
  margin-top: 4vh;
}

/* .App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
} */

#navbar {
  display: flex;
  align-items: center;
  height: 60px;
  width: 90vw;
  background: #CAFFD0;
  padding: 0 2rem;
  margin: 0 5vw 0 3vw;
  opacity: 0.8;
  border-radius: 0 0 15px 15px;
  position: fixed;
  transform: translateY(-100%);
  transition: all 0.5s ease;
}

#navbar.active {
  transform: translateY(0);
}

#navbar div {
  display: flex;
  flex-direction: row;
  width: 50vw;
}

#navbar h1 {
  padding: .5rem 2rem;
  margin: 0;
  padding: 0;
  font-family: 'Saira Extra Condensed', sans-serif;
}

#navbar h1 a {
  text-decoration: none;
  color: #555555;
  border-radius: 5px;
  padding: 0 2rem;
  transition: all 0.5s ease;
}

#navbar h1 a:hover {
  text-decoration: none;
  color: #CAFFD0;
  background-color: #555555;
}

.App-header {
  background-image: url("/images/background.jpg");
  height: 100vh;
  padding: 20px;
  color: lightgray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App-header h3 {
  color: lightgray;
  font-family: 'Saira Extra Condensed', sans-serif;
  font-size: 2em;
}

.App-title {
  font-size: 5em;
  color: lightgray;
  font-family: 'Saira Extra Condensed', sans-serif;
}

#about-section {
  text-align: center;
  height: 100vh;
  background: lightgray
}

#about-section h1 {
  margin: 0;
}


#skills-wrapper {
  display: flex;
  justify-content: center;
}

.skills-item {
  display: flex;
  flex-direction: column;
  padding: 0 2rem;
}

.skills-item > img {
  height: 5rem;
}

#portfolio-section {
  height: 100vh;
  background: #0197a5;
}

#blog-section {
  height: 100vh;
  background: lightgray
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
